@use './main';

:root {  
  --color: #272727;
  --color2: #FFF;
  --color3: #F00;
  --background: #FFF;
  --background2: #E1E1E1;
  --background3: #434343;  
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #d8d8d8;
    --color2: #000;
    --color3: #F00;
    --background: #000;
    --background2: #1E1E1E;
    --background3: #BABABA;
  }
}


body {
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: var(--color);
  background-color: var(--background);
  font-size: 18px;

  @media #{main.$mob} {
    font-size: main.vwMax(14px);
  }
}

input, select {
  font-size: 18px;
}

@mixin commons {
  color: var(--item-color);
  font-weight: 500;
}

h1 {
  @include commons;
  font-size: 42px;
  font-weight: bold;
  color: var(--current-color);

  @media #{main.$mob} {
    font-size: main.vwMax(24px);
  }
}

h2 {
  @include commons;
  font-size: 32px;
  font-weight: bold;

  @media #{main.$mob} {
    font-size: main.vwMax(20px);
  }
}

h3 {
  @include commons;
  font-size: 24px;
  font-weight: bold;
  color: var(--link-color);

  @media #{main.$mob} {
    font-size: main.vwMax(18px);
  }
}


h4 {
  @include commons;
  font-size: 20px;
  font-weight: bold;
  color: var(--link-color);

  @media #{main.$mob} {
    font-size: main.vwMax(18px);
  }
}

a {
    &:link {
    color: var(--color);
  }
  &:visited {
    color: var(--color);
  }
}
