@use '../../../styles/main';

.Header {
  height: 70px;
  background-color: var(--background2);
  display: flex;
  align-items: center;
  padding: 0 main.$webSidePadding;
  font-size: 20px;
  gap: 50px;
}

.menu {
  display: flex;
  background-color: var(--background2);
  justify-content: flex-start;
  gap: 40px;
  align-items: center;
  font-size: 18px;
  color: var(--color);

  a {
    color: var(--color);
    text-decoration: none;
  }
}

.linkActive {
  border-bottom: var(--color) solid 1px;
}
