@use '../../../styles/main';

.Footer {
  height: 50px;
  background-color: var(--background3);
  color: var(--color2);
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 main.$webSidePadding;
  
  @media #{main.$mob} {
    height: main.vwMax(50px);
  }

}
