@use '../../../styles/main';

.Main {
  display: block;
  min-height: calc(100vh - 140px);
  padding: 20px main.$webSidePadding;

  @media #{main.$mob} {
    padding: main.vwMax(20px) main.vwMax(main.$mobSidePadding);
    min-height: calc(100vh - main.vwMax(140px));
    min-width: 280px;
  }
}
